/* html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
html,
body,
#__next {
  /* height: 300%; */
  min-height: 100vh;
}
